/* html {
  width: 100vw !important;
  height: 100vh !important;
}
body{
  scroll-behavior: smooth;
  height: 100vh !important;
  width: 100vw !important;
} */

.home-page {
  background-image: linear-gradient(#212c39,#121e3d 20%,#000) !important;
}

.navig-log {
  width: 85%;
  position: absolute;
  justify-content: space-between;
  flex-wrap: nowrap !important;
}

/* .sidebar-container {
position: fixed;
width: 20%;
height: 700px;
left: 0;
overflow-x: hidden;
overflow-y: auto;
background: #1a1a1a;
color: #C1C1C1;;
} */

/*sidebar Css 
}*/

/* .sidebar-logo {
padding: 20px;
}
.sidebar-logo img {
  width: 14.4rem;
  height: 4.2rem;}

.sidebar-navigation {
padding: 0;
margin: 0;
list-style-type: none;
position: relative;
}

.sidebar-navigation li {
background-color: transparent;
position: relative;
display: inline-block;
width: 100%;
line-height: 20px;
}

.sidebar-navigation li a {
padding: 10px 15px 10px 30px;
display: block;
color:#C1C1C1;;
}

.sidebar-navigation li .fa ,.sidebar-navigation li .fas  {
margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
text-decoration: none;
outline: none;
background-color: #505050;
}

.sidebar-navigation li::before {

position: absolute;
content: '';
height: 100%;
left: 0;
top: 0;
-webkit-transition: width 0.2s ease-in;
transition: width 0.2s ease-in;
width: 3px;
z-index: -1;
}

.sidebar-navigation li:hover::before {
width: 100%;
}

.sidebar-navigation .header , .sidebar-navigation .songs {
font-size: 12px;
text-transform: uppercase;
background-color: #151515;
padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
background-color: transparent;
}
/*Scroll Bar*/
/* ::-webkit-scrollbar {
  width: 20px;
} */

/*Content Container start*/

/* .content-container {
width: 80%;
float: right;
} */
.artist-top-bar {
  background-image: url(./../Images/queen-background.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  width: 100%;
  height: auto;
  background-blend-mode: hue;
}
.navigation-icons {
  float: left;
  color: #C1C1C1;
}

.login-profile {
  float: right;
} 
.btn-secondary {
  background-color: #120203;
  border-color: #120203;
  box-sizing: border-box;
  box-shadow: -10px 10px 13px 0px #000000;
}
.heading-artist {
  padding:16% 1rem 0 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  background-image: url(./../Images/queen-background.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: hue;
}
.heading-artist .icon-verified{
  font-size:23px; 
  line-height: 39px;
}
.icon-verified i{
  color:#2579C4; font-size: 23px; 
  margin-right: 12px;
}
.heading-artist h1 {
  font-size: 4.5rem;
}
.heading-artist p {
  font-size: 20px;
  line-height: 37px;
  font-style: italic;
}
#static-playlist-design{
background: rgb(52,52,52);
background: linear-gradient(180deg, rgba(52,52,52,1) 40%, rgba(18,18,18,1) 60%);
padding: 2rem 0;
box-shadow: -10px 10px 13px 0px #000000;
}
.play-static i.fas{
      font-size: 3.4rem;
      color: #1DB954;
      margin-right: 1rem;
}
.play-static button.follow {
  background: transparent;
  color: #fff;
  padding: 0.2rem 0.8rem;
  padding-top: 0.7rem;
  font-weight: 800;
  border: 1px solid #666666;
}
.play-static i.bi-three-dots{
  color: #ccc;
  top: 8px;
  font-size: 23px;
}
#static-playlist-design h4{
  font-size: 1.9rem;
  color: #fff;
  font-weight: 700;
  line-height: 4.2rem;
}
#static-playlist-design table {
  border-collapse: collapse;
  font-size: 16px;
  font-weight: 600;
  line-height: 4.4rem;
}

#static-playlist-design table th{
  padding-right: 15px;
}
#static-playlist-design table img{
  width:50px;
  height: 50px;
  background:whitesmoke;
  border: 1px solid #C1C1C1;
}
.artist-pick img{
  background:#ccc;
}
.artist-pick-section {
  color: #fff;
  font-size: 15px;
}
table button {
  background: transparent;
  border: none;
  color: #1DB954;
    font-size: 23px;
}

/*Sattic music player bottom css*/
.static-controller-audio {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  height: 5rem;
  padding: 0.6rem;
}

.left-play {
  height: 100%;
}
.play-img {
  
  height: 100%;
  aspect-ratio: 1/1;
}

.play-img img {
  height: 100%;
  aspect-ratio: 1/1;
}

.play-name p {
  position: relative;
  bottom: 0;
  color: white !important;
  margin: 0;
  font-family: fontBold;
  font-size: 0.8rem;
}
.play-name small {
  font-size: 0.7rem;

  display: block;
  color: #b3b3b3 !important;
}

.playL-icon a {
  color: #b3b3b3;
  transition: 0.3s;
}
.playL-icon i:hover {
  color: #1DB352;
}
/* middle section */
.play-navigation {
  color: #b3b3b3;
  gap: 3rem;
}

.play-navigation i {
  font-size: 0.9rem;
  transition: 0.3s;
}
.play-navigation i:hover {
  cursor: pointer;
  color: #1DB352 !important;
}

.play-navigation i:nth-child(3) {
  font-size: 1.6rem;
  color: white;
}

.input-navigation small {
  color: white !important;
  padding-top: 0.4rem;
  font-size: 0.7rem;
}
input[type="range"],
.dur-bar {
  -webkit-appearance: none !important;
  width: 70%;
  background: linear-gradient(to right, white, 1%, #b3b3b3 0%);
  height: 4px;
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb,
.dur-bar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 4px;
  width: 8px;
  position: relative;
  background-color: white;
  cursor: pointer;
}
input[type="range"]::-webkit-progress-bar,
.dur-bar::-webkit-progress-bar {
  -webkit-appearance: none !important;
  background-color: white;
}

input[type="range"]:hover::-webkit-slider-thumb,
.dur-bar:hover::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #1DB352;
  position: relative;
  transition: 0.2s;

}

.dur-bar::-webkit-range-thumb { 
  -webkit-appearance: none !important;
  color: white;
}

.dur-bar {
  -webkit-appearance: none;
  color: black !important;
}

/* volume Right*/
.volumeR {
  gap: 1rem;
}
.volumeR i {
  color: #b3b3b3;
  transition: 0.3s;
}

.volumeR i:hover {
  color: #1DB352;
  cursor: pointer;
}


/*Media Queries*/
/* 
@media  (max-width: 1370px) and  (min-width:1024px) {
  .sidebar-logo img {
    width: 9.4rem;
    height: 3.2rem;
}
}
*/

@media (max-width:1041px) and (min-width:850px){
  .col-4.artist-pick {
    display: none;
}
}